manifest {
    description = 'Pairwise full genome population recombination rate estimation pipeline'
    nextflowVersion = '>= 20.10.0'
}

process {
    // conda = 'environment.yaml'
    container = 'sidkris/rhometa_full_genome:latest'

    executor = 'local'
    scratch = true
    cpus  = 1
    memory = 16.GB
    time = 24.h
}

docker {
    enabled = true
}

singularity {
    enabled = false
}

tower {
    accessToken = ''
    enabled = false
}
